@font-face {
  font-family: "Schnyder Cond X Demi";
  src: url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.otf");
  src: url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.ttf") format('truetype');
  src: url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_L_Demi.woff") format('woff');
  src: url("../fonts/Schnyder_X_Condensed/SchnyderXCondLDemi.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Schnyder Cond XL Demi";
  src: url("../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Demi.otf");
  src: url("../fonts/Schnyder_X_Condensed/Schnyder X Cond XL Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Schnyder Cond XL Bold";
  src: url("../fonts/Schnyder_X_Condensed/Schnyder X Cond L Bold.otf");
  src: url("../fonts/Schnyder_X_Condensed/Schnyder X Cond XL Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TTTravels";
  src: url("../fonts/TT_Travels/TTTravels-Light.ttf") format('truetype');
  src: url("../fonts/TT_Travels/TTTravels-Light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT America";
  src: url("../fonts/GT America Bold/GT America Bold.otf");
  src: url("../fonts/GT America Bold/GT America Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}