<header class="header">
    <div class="header__left-block">
        <a href="#"><h1>Logo Logo</h1></a>
    </div>
    <div class="header__right-block">
        <nav id="menu">
            <div id="mobile-menu">
                <span></span>
                <span></span>
            </div>
            <ul id="menu-list">
                <a href="#"><li>Commercial</li></a>
                <a href="#"><li>Editorial</li></a>
                <a href="#"><li>Reportage</li></a>
                <a href="#"><li>Meet me</li></a>
            </ul>
        </nav>
    </div>
</header>
